html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif, "メイリオ", Meiryo;
	font-size: 11px;
	text-align: left;
	color: #888;
	background: #F9CCD5;
}
.clear {
	clear: both;
	}
#wrapper {
    display: block;
    margin: 20px auto;    
    width: 950px;            
} 
h1, h2, h3 {
	margin: 0;
	padding: 0;
}
p, ol, ul {
margin-top: 0;}
p {
line-height: 182%;
margin-bottom: 20px;
}
a {
color: #AE4361;}
a:hover {
color: #F9CCD5;}
img.alignleft {
float: left;}
img.alignright {
float: right;}
img.aligncenter {
margin: 0px auto;}
/* Horizontal Navbar */
#navi {
	display: block;
	
	margin: 0 auto;
}
#navbar {
	font-size: 10px;
	display: inline-block;
	padding: 0;
	width: 667px;
	float: right;
	background: #AE4361
}
#navbar ul {
	list-style: none;
	display: inline-block; 
	position: relative;
	padding: 0;
	margin: 0 auto;
}
#navbar  ul:after {
		content: ""; clear: both; display: block;
	}
#navbar > ul > li {
	float: left;
}
#navbar > ul > li > a {
	text-decoration: none;
	display: block;
	text-align: center;
	line-height: 1;
	padding: 10px 20px;
	font-weight: normal;          
	border-bottom: 0;
	float: left;
	margin: 0;  
	color: #F9CCD5;
	font-size: 9px;
}
#navbar > ul > li > a:hover {
    color: #FFF;
}
#navbar > ul ul li > a {
	
	display: block;
	text-align: left;
	padding: 10px 20px;
	font-size: 9px;
	background: #AE4361;        
	color: #FFF;
	text-decoration: none; 
	width: 160px;
}
#navbar ul ul {
	display: none;
	position: absolute; 
	top: 100%;
	padding-top: 8px;
	overflow: hidden;    
}
#navbar ul li:hover > ul {
	display: block;
}
.breadcrumbs {
    display: block;
    padding: 0 0 15px;
    margin-bottom: 0;
}
.navlinks {
font-size: 9px;
margin: 0 auto;
letter-spacing: 1px;
text-align: left;
font-weight: normal;
color: #F9CCD5;          
display: block;
}
.navlinks a {
text-decoration: none;
font-weight: normal;
color: #F9CCD5;
}
.picbanner {
overflow: hidden;    
height: 199px;
display: block;
background: #fff;
padding: 0;
margin: 0 0 20px 20px;
width: 300px;
float: right;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
#deco {
    display: block;  
    margin: 0 auto;    
}
#header {
padding: 0;
margin: 0 auto;    
}
#header h1 {
font-size: 23px;    
line-height: 0;
display: block;  
padding: 0;
text-align: right
}
#header h1 a {
text-decoration: none;
text-transform: uppercase;            
display: inline-block;    
line-height: 1;  
overflow: hidden;    
font-weight: bold;
text-align: left;
color: #FFF;

margin: 65px 0 70px;
padding: 15px;

	background: #AE4361;
	text-shadow: #F9CCD5 0 0 5px;
	border: #F9CCD5 solid 3px;
}
#header h1 a:hover{
 	background: #F9CCD5;
	border: #AE4361 solid 3px;
	text-shadow: #AE4361 0 0 5px; 
}
#maining {
float: right;
width: 625px;
min-height: 100%;
overflow: hidden;
border: 1px dotted #EEE;
	padding: 5px 20px;
	border-top: #F9CCD5 solid 5px;
	border-bottom: #F9CCD5 solid 5px;
}
#wraplovelycake {
background: #FEFEFE url(../images/head.gif) no-repeat 25px 25px;           
    margin: 0 auto; 
	padding: 0 30px;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
	border: #AE4361 solid 3px;
}
#maining h2 {
font-size: 23px;
text-align: left;
line-height: 1;
padding: 8px 0;
font-weight: normal;    
clear: both;
display: block;
color: #F9CCD5;
margin: 10px 0 20px;
}
img.rightalign {
float: right;
margin: 0 0 20px 20px;
border: #eee 10px solid;
box-shadow: #999 -2px 2px 5px;
}
img.leftalign {
float: left;
margin: 0 0 20px 20px;
border: #eee 10px solid;
box-shadow: #999 -2px 2px 5px;
}
.content {    
margin: 0;    
padding: 20px 0 50px;
}
.content .box{
text-align: justify;    
padding: 10px 0 50px;
}
/* Sidebar */
#sidebar {
	float: left;    
	width: 200px;        
	border-top: 0;
	padding: 0 0 50px 0;
}
#sidebar ul li {
    list-style-type: none;
    list-style-position: inside;
    font-size: 11px;
    line-height: 2;
}
#mainside, #secside {
margin-bottom: 20px;
}
#mainside {
}
#secside h2, #mainside h2 {
line-height: 1;
font-size: 11px;
padding: 5px;
text-align: center;
font-weight: normal;
margin: 0 0 5px;        

color: #AE4361;
}
#secside h2 {
}
#secside ul, #mainside ul {
padding: 0;
list-style: none;    
margin: 0;
overflow: hidden;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border-bottom: #AE4361 solid 5px;
}
#secside li {
margin: 0;
padding: 0;}
#secside li ul, #mainside li ul {
	margin: 15px 5px;
	text-align: center;
}
#secside li li {
      line-height: 2.1;  list-style-position: inside;  font-size: 11px;        
}
#mainside li li {
line-height: 2.1;
list-style-position: inside;
font-size: 11px;
}
#secside p {
margin: 0 0px;
padding: 0px 30px 20px 30px;
text-align: justify;}
#mainside a, #secside a {
display: block;
text-decoration: none;
font-size: 9px;
padding: 5px 10px;
font-weight: normal;
text-align: right;
color: #AE4361;
background: #F9CCD5 url(../images/pattern.png) no-repeat 10px;
margin-bottom: 1px;
}
#secside a:hover, #mainside a:hover {
    background: #AE4361 url(../images/pattern.png) no-repeat 15px;
	color: #FFF;
}
div.navarrow {
display: block;
color: #fff;
background: url(../images/navar.png) no-repeat center;
overflow: hidden;
text-indent: -999px;
width: 20px;
float: left;
}
.navhome, .navothers {
display: block;
padding: 0px 10px;
float: left;
}
div.navhome {
    padding: 0px 0;
}
#lovelycakefooter {
overflow: hidden;     
margin: 0 auto;
font-weight: normal;
padding: 50px 0;        
font-size: 11px;
text-align: right;    
color: #AE4361;
}
#lovelycakefooter a {
text-decoration: none;
	color: #AE4361;
}